.button{
  margin:{
    right:5px;
    bottom:5px;
  }
}
.picked-queens{
  padding:30px 0;

}
$rainbow: red, #ff8000, yellow, #80ff00, lime, #00ff80, cyan, #0080ff, blue, #8000ff, magenta, #ff0080, red;
.queen{
  border-radius:3px;
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-bottom:5px;
  padding:0;
  // background:{
  //   image:linear-gradient(#888,#aaa)
  // }
  @for $i from 0 to length($rainbow) {
    &:nth-child(#{$i}) {
      background-color:nth($rainbow, $i + 1);
      border:1px dashed nth($rainbow, $i + 1);
      .position{
        background-color: nth($rainbow, $i + 1);
      }
    }
  }
  .position{
    flex: 0  1 auto;

    border-radius:3px;
    padding:10px;
    color:#fff;
    text-shadow:1px 0 #000;
    height:100%;
    width:44px;
    text-align: center;
    margin:0;
  }
  .name{
    flex: 0  1 auto;
    color:#111;
    padding:{
      left:15px;
      top:10px;
      bottom:10px;
      right:10px;
    }
    margin:0;
    line-height: 1;
    background:{
      color:rgba(#fff, .8);
    }
    display:inline-block;
  }
  .img{
    flex: 0  1 auto;
    margin:0 0 -5px;
  }
}
.img-center{
      margin: 0 auto;
    display: block;
}
.voting-active{
  padding-bottom:50px;
  padding-top:10px;
}
.queen-icon{
  height:44px;
  width:44px;
  margin-right:6px;
}
.queen-button{
  display:flex;
  justify-content:space-between;
  padding-left:0;
  padding-bottom:0;
  &> *{
    flex:0 1 auto;
  }
}
.open-queens{
  display:flex;
  flex-wrap:wrap;
  &>*{
    flex:0 1 auto;
  }
}
