<ion-view view-title="Profile">
  <ion-content class="padding-top">
  <div class="img" ><img ng-src="{{vm.player.avatar}}"></div>
  <h2>{{vm.player.name}}</h2>
   <h3><a ng-href="http://twitter.com/{{vm.player.twitterName}}">@{{vm.player.twitterName}}</a></h3>

   <div class="points-breakdown">
     <button ui-sref="prevVote({week:pointBlock.week, id:vm.player.id})" class="button button-block" ng-class="{'bronze': pointBlock.type == 'participation',
     'silver': pointBlock.type == 'bullseye',
     'gold': pointBlock.type == 'echo'}" ng-repeat="pointBlock in vm.player.points | orderObjectBy:'week'">
       <span class="position">Points: {{pointBlock.points}}</span>
       <span>Week: {{pointBlock.week}}</span>
       <span ng-if="pointBlock.type == 'participation'">
        Vote Cast
       </span>
      <span ng-if="pointBlock.type == 'bullseye'">
        Matched Queen Going Home
       </span>
        <span ng-if="pointBlock.type == 'echo'">
          / Predicted Week {{pointBlock.echoWeek}} with {{pointBlock.predicts}} 
       </span>
     </button>
   </div>

  </ion-content>
</ion-view>
