<ion-view view-title="Reality Showdown" hide-back-button="true">
  <ion-content class="padding-top">
    <div class="list text-center padding">
      <i class="icon ion-ios-thunderstorm larger royal"></i>
    </div>
    <div class="social-login-wrapper">
    <button class="button icon-right ion-chevron-right ion-social-twitter-outline button-outline button-positive" ng-click="socLogin('twitter')">Login with </button>

    <!-- <button class="button icon-right ion-chevron-right button-outline button-assertive ion-social-google" ng-click="socLogin('google')">Login with </button>

    <button class="button icon-right ion-chevron-right button-outline ion-social-github-outline button-dark" ng-click="socLogin('github')">Login with </button> -->

  <!--   <button class="button icon-right ion-chevron-right button-outline ion-ios-email-outline button-dark" ng-click="socLogin('ddd')">Login with </button> -->
    </div>
    {{authData}}
    
  </ion-content>
</ion-view>
