<ion-view view-title="Home" hide-back-button="true" class="home-page">
  <ion-content class="padding">
    <h1>Hello {{user.name}}! </h1>
    <p>Welcome to <strong>Reality Showdown</strong> Drag Race edition. Below you can vote on who you think will win, and see how many points you have. Be sure to vote each week.</p>

    <div class="your-score">
      <img class="avatar" ng-src="{{user.avatar}}">
      <div class="score">{{player.totalPoints || 0}} Points</div>
    </div>

<!-- <button class="button" ng-click="authTest()">auth test</button> -->
  
  </ion-content>

</ion-view>
