
<div class="tabs tabs-icon-only">
  <a class="tab-item" ui-sref="home">
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item" ui-sref="vote">
    <i class="icon ion-person-stalker"></i>
  </a>
  <a class="tab-item" ui-sref="scoreBoard">
    <i class="icon ion-trophy"></i>
  </a>
  <a ng-if="isAdmin" class="tab-item" ui-sref="admin">
    <i class="icon ion-wand"></i>
  </a> 
    <a class="tab-item" ng-click="authObj.$unauth(); logout()">
    <i class="icon ion-log-out"></i>
  </a> 
</div>
