<ion-view view-title="Points Admin">
  <ion-content class="padding points-admin">
  <div class="padding-bottom">
    <button class="button" 
    ng-repeat="week in vm.weeks"
    ng-click="vm.loadWeek(week)">Week {{week.weekNumber}}</button>
  </div>
    <div class="action" ng-if="vm.activeWeek">
      <h3>Actions for Week {{vm.activeWeek.weekNumber}}</h3>
      <button class="button" ng-click="vm.scoreParticipation()">
        Score Participation
      </button>
      <button class="button"
      >
        Score Bullseye Points
      </button>
      <button class="button"
      >
        Score Echoes
      </button>
    </div>
      
     
   

  </ion-content>
</ion-view>