<ion-view view-title="Week Admin">
  <ion-content class="padding">
  <div class="padding-bottom">
    <button class="button" 
    ng-repeat="week in weeks"
    ng-click="loadWeek(week)">{{week.weekNumber}}</button>
  </div>
    <div class="actions padding-bottom">
      <button class="button button-positive" ng-click="createNewWeek(); ">
        <i class="icon ion-plus"></i>
      </button>
    </div>
   
  <div class="week-edit" ng-if="showForm" ng-model="week">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Week Number</span>
          <input ng-model="week.weekNumber" type="number" placeholder="Week Number">
        </label>
        <li class="item item-toggle">
           Voting is <span ng-if="week.isActive">Open</span><span ng-if="!week.isActive">Closed</span>
           <label class="toggle toggle-assertive">
             <input type="checkbox" ng-model="week.isActive">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        
          <div>
            Loser
          </div>
          {{week.loser.name}}
<!--           <select  ng-model="week.loser" 
              ng-options="queen.name for queen in queens" >
            <option value=""> -- Choose Queen --</option>
          </select> -->
          
          <div ng-repeat="queen in queens track by $index">
          <label><input ng-checked="!queen.isActive" type="checkbox" ng-click="setLoser(queen)">{{queen.name}}</label></div>

       LOSER {{week.loser.name}}
        


        <li class="item">
        <label ng-if="!week.scored">
            Scoring didn't happened
          </label>
          <label ng-if="week.scored">
            Scoring  happened
          </label>
           <button ng-if="!week.scored" class="button item-note" ng-click="score(week)">score the week</button>
        </li>
      </div>



        <button ng-click="deleteWeek(week)"
                ng-if="action == 'edit'" 
                class="button button-assertive">
           <i class="icon ion-trash-b"></i>
        </button>
        <button ng-click="saveWeek(week)" 
                ng-if="action == 'edit'" 
                class="button button-balanced">
          <i class="icon ion-edit"></i>
        </button>

        <button ng-click="cancelNewWeek()"
                ng-if="action == 'new'"
            class="button button-assertive">
           <i class="icon ion-close"></i>
        </button>
        <button ng-click="saveNewWeek(week)" 
                ng-if="action == 'new'"
                class="button button-balanced">
          <i class="icon ion-checkmark"></i>
        </button>
      
    </div><!--week-edit-->
    
  </ion-content>
</ion-view>